In [ ]:
!git clone https://github.com/PhonePe/pulse.git

In [14]:
# Required Packages
import json
import os
import pandas as pd

In [8]:
path=r"C:\Users\razer\OneDrive\Documents\Python\PhonePe-Project\pulse\data\aggregated\transaction\country\india\state"
Agg_state_list=os.listdir(path)
Agg_state_list

['andaman-&-nicobar-islands',
 'andhra-pradesh',
 'arunachal-pradesh',
 'assam',
 'bihar',
 'chandigarh',
 'chhattisgarh',
 'dadra-&-nagar-haveli-&-daman-&-diu',
 'delhi',
 'goa',
 'gujarat',
 'haryana',
 'himachal-pradesh',
 'jammu-&-kashmir',
 'jharkhand',
 'karnataka',
 'kerala',
 'ladakh',
 'lakshadweep',
 'madhya-pradesh',
 'maharashtra',
 'manipur',
 'meghalaya',
 'mizoram',
 'nagaland',
 'odisha',
 'puducherry',
 'punjab',
 'rajasthan',
 'sikkim',
 'tamil-nadu',
 'telangana',
 'tripura',
 'uttar-pradesh',
 'uttarakhand',
 'west-bengal']

In [23]:
# Define the correct path (Windows path)
path1 = r"C:\Users\razer\OneDrive\Documents\Python\PhonePe-Project\pulse\data\aggregated\transaction\country\india\state"
Agg_state_list = os.listdir(path1)

# Create a dictionary to store the data
clm = {
    'State': [], 'Year': [], 'Quater': [],
    'Transacion_type': [], 'Transacion_count': [], 'Transacion_amount': []
}

# Loop through states
for state in Agg_state_list:
    state_path = os.path.join(path, state)
    years = os.listdir(state_path)

    # Loop through years
    for year in years:
        year_path = os.path.join(state_path, year)
        quarter_files = os.listdir(year_path)

        # Loop through each quarter file (Q1.json, Q2.json, etc.)
        for file_name in quarter_files:
            file_path = os.path.join(year_path, file_name)
            Data = open(file_path, 'r')
            D = json.load(Data)
            Data.close()

            if D['data'] and 'transactionData' in D['data']:
                for z in D['data']['transactionData']:
                    Name = z['name']
                    count = z['paymentInstruments'][0]['count']
                    amount = z['paymentInstruments'][0]['amount']
                    clm['Transacion_type'].append(Name)
                    clm['Transacion_count'].append(count)
                    clm['Transacion_amount'].append(amount)
                    clm['State'].append(state)
                    clm['Year'].append(year)
                    clm['Quater'].append(int(file_name.strip('.json')))

# Create DataFrame
Agg_Trans = pd.DataFrame(clm)
Agg_Trans

,State,Year,Quater,Transacion_type,Transacion_count,Transacion_amount
0,andaman-&-nicobar-islands,2018,1,Recharge & bill payments,4200,1.845307e+06
1,andaman-&-nicobar-islands,2018,1,Peer-to-peer payments,1871,1.213866e+07
2,andaman-&-nicobar-islands,2018,1,Merchant payments,298,4.525072e+05
3,andaman-&-nicobar-islands,2018,1,Financial Services,33,1.060142e+04
4,andaman-&-nicobar-islands,2018,1,Others,256,1.846899e+05
...,...,...,...,...,...,...
5029,west-bengal,2024,4,Merchant payments,655100809,3.892862e+11
5030,west-bengal,2024,4,Peer-to-peer payments,493217788,1.361927e+12
5031,west-bengal,2024,4,Recharge & bill payments,76043195,5.753406e+10
5032,west-bengal,2024,4,Financial Services,2352084,8.472965e+08
5033,west-bengal,2024,4,Others,421806,5.053641e+08

In [22]:
path2 = r"C:\Users\razer\OneDrive\Documents\Python\PhonePe-Project\pulse\data\aggregated\user\country\india\state"
states = os.listdir(path2)

clm = {
    'State': [], 'Year': [], 'Quarter': [],
    'registeredUsers': [], 'appOpens': [],
    'brand': [], 'count': [], 'percentage': []
}

for state in states:
    state_path = os.path.join(path2, state)  # changed path to path2
    years = os.listdir(state_path)

    for year in years:
        year_path = os.path.join(state_path, year)
        quarter_files = os.listdir(year_path)

        for file_name in quarter_files:
            file_path = os.path.join(year_path, file_name)
            with open(file_path, 'r') as Data:
                D = json.load(Data)

            if 'aggregated' in D['data']:
                agg = D['data']['aggregated']
                reg_users = agg.get('registeredUsers', 0)
                app_opens = agg.get('appOpens', 0)

                usersByDevice = D['data'].get('usersByDevice')
                if usersByDevice:  # Check if not None or empty
                    for device in usersByDevice:
                        clm['State'].append(state)
                        clm['Year'].append(year)
                        clm['Quarter'].append(int(file_name.strip('.json')))
                        clm['registeredUsers'].append(reg_users)
                        clm['appOpens'].append(app_opens)
                        clm['brand'].append(device['brand'])
                        clm['count'].append(device['count'])
                        clm['percentage'].append(device['percentage'])

agg_user = pd.DataFrame(clm)
agg_user

,State,Year,Quarter,registeredUsers,appOpens,brand,count,percentage
0,andaman-&-nicobar-islands,2018,1,6740,0,Xiaomi,1665,0.247033
1,andaman-&-nicobar-islands,2018,1,6740,0,Samsung,1445,0.214392
2,andaman-&-nicobar-islands,2018,1,6740,0,Vivo,982,0.145697
3,andaman-&-nicobar-islands,2018,1,6740,0,Oppo,501,0.074332
4,andaman-&-nicobar-islands,2018,1,6740,0,OnePlus,332,0.049258
...,...,...,...,...,...,...,...,...
6727,west-bengal,2022,1,21919787,236131065,Lenovo,330017,0.015056
6728,west-bengal,2022,1,21919787,236131065,Infinix,284678,0.012987
6729,west-bengal,2022,1,21919787,236131065,Asus,280347,0.012790
6730,west-bengal,2022,1,21919787,236131065,Apple,277752,0.012671
6731,west-bengal,2022,1,21919787,236131065,Others,2196334,0.100199

In [15]:
path3 = r"C:\Users\razer\OneDrive\Documents\Python\PhonePe-Project\pulse\data\aggregated\insurance\country\india\state"
states = os.listdir(path3)

clm = {
    'State': [], 'Year': [], 'Quarter': [],
    'Transaction_type': [], 'Transaction_count': [], 'Transaction_amount': []
}

for state in states:
    state_path = os.path.join(path3, state)
    years = os.listdir(state_path)
    
    for year in years:
        year_path = os.path.join(state_path, year)
        quarter_files = os.listdir(year_path)
        
        for file_name in quarter_files:
            file_path = os.path.join(year_path, file_name)
            with open(file_path, 'r') as f:
                D = json.load(f)

            if 'data' in D and D['data'] and 'transactionData' in D['data'] and D['data']['transactionData']:
                for item in D['data']['transactionData']:
                    name = item.get('name', None)
                    payment_instr = item.get('paymentInstruments', [])
                    
                    if payment_instr:
                        count = payment_instr[0].get('count', 0)
                        amount = payment_instr[0].get('amount', 0)
                        
                        clm['State'].append(state)
                        clm['Year'].append(year)
                        clm['Quarter'].append(int(file_name.strip('.json')))
                        clm['Transaction_type'].append(name)
                        clm['Transaction_count'].append(count)
                        clm['Transaction_amount'].append(amount)

agg_insur = pd.DataFrame(clm)
agg_insur

,State,Year,Quarter,Transaction_type,Transaction_count,Transaction_amount
0,andaman-&-nicobar-islands,2020,2,Insurance,6,1360.0
1,andaman-&-nicobar-islands,2020,3,Insurance,41,15380.0
2,andaman-&-nicobar-islands,2020,4,Insurance,124,157975.0
3,andaman-&-nicobar-islands,2021,1,Insurance,225,244266.0
4,andaman-&-nicobar-islands,2021,2,Insurance,137,181504.0
...,...,...,...,...,...,...
677,west-bengal,2023,4,Insurance,72712,100365562.0
678,west-bengal,2024,1,Insurance,79576,104987909.0
679,west-bengal,2024,2,Insurance,67048,89476633.0
680,west-bengal,2024,3,Insurance,77158,107451766.0
681,west-bengal,2024,4,Insurance,91719,120602777.0

In [16]:
path4 = r"C:\Users\razer\OneDrive\Documents\Python\PhonePe-Project\pulse\data\map\transaction\hover\country\india\state"
states = os.listdir(path4)

clm = {
    'State': [], 'Year': [], 'Quarter': [],
    'Transaction_count': [], 'Transaction_amount': []
}

for state in states:
    state_path = os.path.join(path4, state)
    years = os.listdir(state_path)
    
    for year in years:
        year_path = os.path.join(state_path, year)
        quarter_files = os.listdir(year_path)
        
        for file_name in quarter_files:
            file_path = os.path.join(year_path, file_name)
            with open(file_path, 'r') as f:
                D = json.load(f)

            if 'data' in D and D['data'] and 'hoverDataList' in D['data']:
                for item in D['data']['hoverDataList']:
                    name = item.get('name', None)
                    metrics = item.get('metric', [])
                    if metrics:
                        count = metrics[0].get('count', 0)
                        amount = metrics[0].get('amount', 0)
                        
                        clm['State'].append(name)
                        clm['Year'].append(year)
                        clm['Quarter'].append(int(file_name.strip('.json')))
                        clm['Transaction_count'].append(count)
                        clm['Transaction_amount'].append(amount)

map_trans = pd.DataFrame(clm)
map_trans

,State,Year,Quarter,Transaction_count,Transaction_amount
0,north and middle andaman district,2018,1,442,9.316631e+05
1,south andaman district,2018,1,5688,1.256025e+07
2,nicobars district,2018,1,528,1.139849e+06
3,north and middle andaman district,2018,2,825,1.317863e+06
4,south andaman district,2018,2,9395,2.394824e+07
...,...,...,...,...,...
20599,alipurduar district,2024,4,15875637,2.099251e+10
20600,paschim bardhaman district,2024,4,56616799,6.968735e+10
20601,nadia district,2024,4,65274337,1.079320e+11
20602,birbhum district,2024,4,36905213,5.778701e+10
20603,purba medinipur district,2024,4,67833775,1.142771e+11

In [17]:
path5 = r"C:\Users\razer\OneDrive\Documents\Python\PhonePe-Project\pulse\data\map\user\hover\country\india\state"
states = os.listdir(path5)

clm = {
    'State': [], 'Year': [], 'Quarter': [],
    'registeredUsers': [], 'appOpens': []
}

for state in states:
    state_path = os.path.join(path5, state)
    years = os.listdir(state_path)
    
    for year in years:
        year_path = os.path.join(state_path, year)
        quarter_files = os.listdir(year_path)
        
        for file_name in quarter_files:
            file_path = os.path.join(year_path, file_name)
            with open(file_path, 'r') as f:
                D = json.load(f)

            if 'data' in D and D['data'] and 'hoverData' in D['data']:
                hover_data = D['data']['hoverData']
                for name, metrics in hover_data.items():
                    reg_users = metrics.get('registeredUsers', 0)
                    app_opens = metrics.get('appOpens', 0)

                    clm['State'].append(name)
                    clm['Year'].append(year)
                    clm['Quarter'].append(int(file_name.strip('.json')))
                    clm['registeredUsers'].append(reg_users)
                    clm['appOpens'].append(app_opens)

map_user = pd.DataFrame(clm)
map_user

,State,Year,Quarter,registeredUsers,appOpens
0,north and middle andaman district,2018,1,632,0
1,south andaman district,2018,1,5846,0
2,nicobars district,2018,1,262,0
3,north and middle andaman district,2018,2,911,0
4,south andaman district,2018,2,8143,0
...,...,...,...,...,...
20603,alipurduar district,2024,4,475688,31842355
20604,paschim bardhaman district,2024,4,1468252,80543469
20605,nadia district,2024,4,1861738,98740305
20606,birbhum district,2024,4,1114220,73465525
20607,purba medinipur district,2024,4,1717074,108350777

In [18]:
path6 = r"C:\Users\razer\OneDrive\Documents\Python\PhonePe-Project\pulse\data\map\insurance\hover\country\india\state"
states = os.listdir(path6)

clm = {
    'State': [], 'Year': [], 'Quarter': [],
    'count': [], 'amount': []
}

for state in states:
    state_path = os.path.join(path6, state)
    years = os.listdir(state_path)
    
    for year in years:
        year_path = os.path.join(state_path, year)
        quarter_files = os.listdir(year_path)
        
        for file_name in quarter_files:
            file_path = os.path.join(year_path, file_name)
            with open(file_path, 'r') as f:
                D = json.load(f)

            if 'data' in D and D['data'] and 'hoverDataList' in D['data']:
                hover_list = D['data']['hoverDataList']
                for item in hover_list:
                    name = item['name']
                    metric = item['metric'][0] if item['metric'] else {}
                    count = metric.get('count', 0)
                    amount = metric.get('amount', 0)

                    clm['State'].append(name)
                    clm['Year'].append(year)
                    clm['Quarter'].append(int(file_name.strip('.json')))
                    clm['count'].append(count)
                    clm['amount'].append(amount)

map_insur = pd.DataFrame(clm)
map_insur

                                   State  Year  Quarter  count     amount
0                 south andaman district  2020        2      3      795.0
1                      nicobars district  2020        2      3      565.0
2      north and middle andaman district  2020        3      1      281.0
3                 south andaman district  2020        3     35    13651.0
4                      nicobars district  2020        3      5     1448.0
...                                  ...   ...      ...    ...        ...
13871                alipurduar district  2024        4   1023  1613143.0
13872         paschim bardhaman district  2024        4   4945  7005851.0
13873                     nadia district  2024        4   3807  5031294.0
13874                   birbhum district  2024        4   1818  2423290.0
13875           purba medinipur district  2024        4   3559  4439061.0

[13876 rows x 5 columns]

In [19]:
path7 = r"C:\Users\razer\OneDrive\Documents\Python\PhonePe-Project\pulse\data\top\transaction\country\india\state"

# List all states
states = os.listdir(path7)

clm = {
    'State': [], 'Year': [], 'Quarter': [],
    'Type': [], 'Name': [],
    'Count': [], 'Amount': []
}

for state in states:
    state_path = os.path.join(path7, state)
    years = os.listdir(state_path)

    for year in years:
        year_path = os.path.join(state_path, year)
        quarter_files = os.listdir(year_path)

        for file_name in quarter_files:
            file_path = os.path.join(year_path, file_name)
            with open(file_path, 'r') as f:
                D = json.load(f)

            if 'data' in D and D['data']:
                for category in ['states', 'districts', 'pincodes']:
                    items = D['data'].get(category, [])
                    if items:
                        for item in items:
                            metric = item.get('metric', {})
                            clm['State'].append(state)
                            clm['Year'].append(year)
                            clm['Quarter'].append(int(file_name.strip('.json')))
                            clm['Type'].append(category[:-1])
                            clm['Name'].append(item.get('entityName'))
                            clm['Count'].append(metric.get('count', 0))
                            clm['Amount'].append(metric.get('amount', 0))

top_trans = pd.DataFrame(clm)
top_trans

,State,Year,Quarter,Type,Name,Count,Amount
0,andaman-&-nicobar-islands,2018,1,district,south andaman,5688,1.256025e+07
1,andaman-&-nicobar-islands,2018,1,district,nicobars,528,1.139849e+06
2,andaman-&-nicobar-islands,2018,1,district,north and middle andaman,442,9.316631e+05
3,andaman-&-nicobar-islands,2018,1,pincode,744101,1622,2.769298e+06
4,andaman-&-nicobar-islands,2018,1,pincode,744103,1223,2.238042e+06
...,...,...,...,...,...,...,...
18290,west-bengal,2024,4,pincode,711101,6753348,1.049483e+10
18291,west-bengal,2024,4,pincode,700059,6662715,8.009476e+09
18292,west-bengal,2024,4,pincode,700039,6575693,9.018748e+09
18293,west-bengal,2024,4,pincode,734001,6432082,8.996529e+09
18294,west-bengal,2024,4,pincode,733134,6313560,1.050259e+10

In [20]:
path8 = r"C:\Users\razer\OneDrive\Documents\Python\PhonePe-Project\pulse\data\top\user\country\india\state"

states = os.listdir(path8)

clm = {
    'State': [], 'Year': [], 'Quarter': [],
    'Type': [], 'Name': [],
    'RegisteredUsers': []
}

for state in states:
    state_path = os.path.join(path8, state)
    years = os.listdir(state_path)

    for year in years:
        year_path = os.path.join(state_path, year)
        quarter_files = os.listdir(year_path)

        for file_name in quarter_files:
            file_path = os.path.join(year_path, file_name)
            with open(file_path, 'r') as f:
                D = json.load(f)

            if 'data' in D and D['data']:
                for category in ['states', 'districts', 'pincodes']:
                    items = D['data'].get(category, [])
                    if items:
                        for item in items:
                            clm['State'].append(state)
                            clm['Year'].append(year)
                            clm['Quarter'].append(int(file_name.strip('.json')))
                            clm['Type'].append(category[:-1])
                            clm['Name'].append(item.get('name'))
                            clm['RegisteredUsers'].append(item.get('registeredUsers', 0))

top_user = pd.DataFrame(clm)
top_user

,State,Year,Quarter,Type,Name,RegisteredUsers
0,andaman-&-nicobar-islands,2018,1,district,south andaman,5846
1,andaman-&-nicobar-islands,2018,1,district,north and middle andaman,632
2,andaman-&-nicobar-islands,2018,1,district,nicobars,262
3,andaman-&-nicobar-islands,2018,1,pincode,744103,1608
4,andaman-&-nicobar-islands,2018,1,pincode,744101,1108
...,...,...,...,...,...,...
18291,west-bengal,2024,4,pincode,733134,169596
18292,west-bengal,2024,4,pincode,700059,169448
18293,west-bengal,2024,4,pincode,711302,146034
18294,west-bengal,2024,4,pincode,700150,142151
18295,west-bengal,2024,4,pincode,711106,142077

In [21]:
path9 = r"C:\Users\razer\OneDrive\Documents\Python\PhonePe-Project\pulse\data\top\insurance\country\india\state"

states = os.listdir(path9)

clm = {
    'State': [], 'Year': [], 'Quarter': [],
    'Type': [], 'Name': [],
    'Insurance_count': [], 'Insurance_amount': []
}

for state in states:
    state_path = os.path.join(path9, state)
    years = os.listdir(state_path)

    for year in years:
        year_path = os.path.join(state_path, year)
        quarter_files = os.listdir(year_path)

        for file_name in quarter_files:
            file_path = os.path.join(year_path, file_name)
            with open(file_path, 'r') as f:
                D = json.load(f)

            if 'data' in D and D['data']:
                for category in ['states', 'districts', 'pincodes']:
                    items = D['data'].get(category, [])
                    if items:
                        for item in items:
                            metric = item.get('metric', {})
                            clm['State'].append(state)
                            clm['Year'].append(year)
                            clm['Quarter'].append(int(file_name.strip('.json')))
                            clm['Type'].append(category[:-1])
                            clm['Name'].append(item.get('entityName'))
                            clm['Insurance_count'].append(metric.get('count', 0))
                            clm['Insurance_amount'].append(metric.get('amount', 0))

top_insur = pd.DataFrame(clm)
top_insur

,State,Year,Quarter,Type,Name,Insurance_count,Insurance_amount
0,andaman-&-nicobar-islands,2020,2,district,nicobars,3,565.0
1,andaman-&-nicobar-islands,2020,2,district,south andaman,3,795.0
2,andaman-&-nicobar-islands,2020,2,pincode,744301,3,565.0
3,andaman-&-nicobar-islands,2020,2,pincode,744104,2,513.0
4,andaman-&-nicobar-islands,2020,2,pincode,744101,1,282.0
...,...,...,...,...,...,...,...
12271,west-bengal,2024,4,pincode,711101,713,750354.0
12272,west-bengal,2024,4,pincode,700091,642,969634.0
12273,west-bengal,2024,4,pincode,700150,627,761501.0
12274,west-bengal,2024,4,pincode,700039,619,787836.0
12275,west-bengal,2024,4,pincode,700156,574,888613.0